<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Contact Us</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </head>

    <body>

        <!-- <nav class="navbar navbar-dark bg-dark justify-content-start">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
            <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
            <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
        </nav> -->

        <div class="container p-3">

            <ul>
                <li>Address: Cdla. Kennedy Norte Mz 60 SI.2-10 Frente al Edificio de las Cámaras, Guayaquil 090506 </li>
                <li>Telephone: +593-4123-4567</li>
            </ul>

        </div>

    </body>

</html>