<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
    </head>

    <body>

        <!-- <nav class="navbar navbar-dark bg-dark justify-content-start">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
            <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
            <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
        </nav> -->

        <form action="{% url 'djangoapp:login' %}" method="post">

            {% csrf_token %}
            <div class="container">

                <h1>Login</h1>
                <label for="username"><b>User Name</b></label><br>
                <input type="text" placeholder="Enter User Name: " name="username" required><br>
                <label for="psw"><b>Password</b></label><br>
                <input type="password" placeholder="Enter Password: " name="psw" required><br><br>

                <div>
                    <button class="button btn-primary" type="submit">Login</button>
                </div>

            </div>

        </form>

    </body>

</html>